.results {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    transition: background-color 0.3s ease;
}

input[type=radio] {
    display: none;
}

.star {
    cursor: pointer
}

.results:hover {
    background-color: #e0e0e0;
}

ul {
    list-style: none;
    padding: 0;
}

.error-message {
    color: #ff6347;
    margin-bottom: 10px;
}

.search-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
}

.search-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}